[build-system]
build-backend = "hatchling.build"
requires = [ "hatchling" ]

[project]
name = "spikard"
version = "0.1.0"
description = "Spikard Python package"
license = { text = "MIT" }
authors = [ { name = "Na'aman Hirschfeld", email = "nhirschfeld@gmail.com" } ]
requires-python = ">=3.10"
classifiers = [
  "Development Status :: 3 - Alpha",
  "Intended Audience :: Developers",
  "License :: OSI Approved :: MIT License",
  "Programming Language :: Python :: 3 :: Only",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Programming Language :: Python :: 3.12",
  "Programming Language :: Python :: 3.13",
  "Programming Language :: Python :: 3.14",
]
dependencies = [
  "msgspec>=0.19",
]

optional-dependencies.uvloop = [
  "uvloop>=0.22",
]

[tool.hatch.build.targets.wheel]
packages = [ "spikard" ]

[tool.hatch.build.targets.wheel.force-include]
"spikard/py.typed" = "spikard/py.typed"
