[project]
name = "fastapi-granian-raw-benchmark"
version = "0.1.0"
description = "FastAPI Granian raw benchmark application"
requires-python = ">=3.10"
classifiers = [
  "Programming Language :: Python :: 3 :: Only",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Programming Language :: Python :: 3.12",
  "Programming Language :: Python :: 3.13",
  "Programming Language :: Python :: 3.14",
]
dependencies = [
  "fastapi",
  "granian",
  "orjson",
  "sniffio>=1.3",
]
