[package]
name = "spikard-node"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true
homepage.workspace = true
description = "Node.js bindings (napi-rs) for spikard"

[lib]
crate-type = ["cdylib"]

[dependencies]
spikard.workspace = true
napi = { version = "3.4", default-features = false, features = ["napi8"] }
napi-derive = "3.3"

[target.'cfg(all(any(windows, unix), target_arch = "x86_64", not(target_env = "musl")))'.dependencies]
mimalloc-rust = "0.2"

[build-dependencies]
napi-build = "2.2"
