[package]
name = "spikard-php"
version.workspace = true
edition.workspace = true
license.workspace = true
publish = false

[lib]
name = "spikard_php"
path = "src/lib.rs"

[features]
default = []

[dependencies]
spikard = { workspace = true }
spikard-core = { workspace = true }
